@import "~bootstrap/scss/bootstrap";

body{
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}

header{
    section{
        display: flex;
        justify-content: space-between;
        align-items: center;
        img{
            padding: 1rem 0;
        }
    }
    ul{
        display: flex;
        li{
            padding: 1rem;
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                color: #0282f9;
                border-bottom: 3px solid #0282f9;
                padding-bottom: 3rem;
            }
        }
    }
}

.jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 550px;
}

main{
    section{
        color: white;
        div{
            h2{
                padding: 3rem 0;
            }
        }
    }
    .bg-black{
        background-color: #1c1c1c;
    }
    .bg-blue{
        background-color: #0282f9;
    }
    article, .container{
        display: flex;
    }
    article{
        align-items: center;
        padding: 2rem;
    }
    .around{
        justify-content: space-around;
    }
}

footer{
    .bg-dc-img{
        background-image: url('../img/footer-bg.jpg');
        background-size: cover;
    }
    .bg-gray{
        background-color: #2f3031;
    }
    .blue{
        color: #0282f9
    }
    button{
        border-color: #0282f9;
        background-color: transparent;
        color: white;
        padding: .8rem .5rem;
    }
    ul{
        li{
            padding-left: 1rem;
        }
    }
}